Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:3.10-slim

before_script:
  - apt-get update -q -y
  - apt-get install -y make
  - python3 -V
  - pip install -r requirements.txt

symbol_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - make test-klc-symbols
    - make test-comparelibs-symbols
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint.pretty/*"
  script:
    - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

check_python_code:
  rules:
    - when: always
  script:
    - pip install flake8
    - make lint
    - make style-check

check_spelling:
  rules:
    - when: always
  script:
    - apt-get -qq update && apt-get install --yes codespell
    - make spelling

Refactor exception system in klc-check
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/rules_footprint/rule.py
  klc-check/rules_symbol/EC01.py
  klc-check/rules_symbol/EC02.py
  klc-check/rules_symbol/EC03.py
  klc-check/rules_symbol/G1_1.py
  klc-check/rules_symbol/G1_10.py
  klc-check/rules_symbol/G1_7.py
  klc-check/rules_symbol/S3_1.py
  klc-check/rules_symbol/S3_2.py
  klc-check/rules_symbol/S3_3.py
  klc-check/rules_symbol/S3_6.py
  klc-check/rules_symbol/S4_1.py
  klc-check/rules_symbol/S4_2.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_5.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S5_1.py
  klc-check/rules_symbol/S5_2.py
  klc-check/rules_symbol/S6_1.py
  klc-check/rules_symbol/S6_2.py
  klc-check/rules_symbol/S7_1.py
  klc-check/rules_symbol/S7_2.py
  klc-check/rules_symbol/rule.py
Due: symbol_rulechecker, footprint_rulechecker

Implement granular exception in S4.2
  klc-check/rules_symbol/S4_2.py
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
  klc-check/test_symbol/CI_Test_S4.2.kicad_sym
Due: symbol_rulechecker

Fix parsing kicad_mod file with embedding 3D models
  common/kicad_mod.py
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Add checks of embedded files to footprint parser
  common/kicad_mod.py
  klc-check/rules_footprint/G1_10.py
  klc-check/rules_footprint/__init__.py
  klc-check/test_footprint.pretty/Fail__G1.10__EmbeddedFile.kicad_mod
  klc-check/test_footprint.pretty/Fail__G1.10__EmbeddedFont.kicad_mod
  klc-check/test_project/fp-lib-table
Due: symbol_rulechecker, footprint_rulechecker

KLC check: Add missing keywords to S6.2 check
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

Change typo in KLC check S5.1 error message
  klc-check/rules_symbol/S5_1.py
Due: symbol_rulechecker

Rename GW_QFP_SOIC_SSOP_TSSOP_SOT to gullwing in CI job
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Rename BGA_packages to grid_array in the CI job
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Install dependency for CadQuery 2.6 and new OCP
  tools/gitlabci/gitlab-ci-3dgen.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Rename QFN_packages to no_lead in the CI job
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

KLC check: Relax S5.1 rule for 'generic' symbols
  klc-check/rules_symbol/S5_1.py
Due: symbol_rulechecker

Fix the not working example for the CSV symbol gen
  symbol-generators/BQ24004-example.csv
Due: none

kicad_sym.py implement Property.do_not_autoplace
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Update gitlab-ci scripts for new runner
  tools/gitlabci/gitlab-ci-3dgen.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Fix 'cd scripts: No such file or directory' in CI pipeline
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

fpgen CI: Fix CI pipeline for new runner
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Add script to format merge request URL from output of 'gitlab' command
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Fix broken fpgen pipeline
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Create LibStats Script
  .gitignore
  tools/GitLab_Lib_Stats/lib_stats.py
  tools/GitLab_Lib_Stats/requirements.txt
Due: none

Fix automated 3d mr generation for new runner
  tools/create_3d_mr.sh
  tools/generate_changed_models.py
Due: none

tools/generate_changed_models.py: Handle multilevel generator paths better
  tools/generate_changed_models.py
Due: none

fpgen CI: Fix automated 3d mr generation for new runner
  tools/generate_changed_models.py
Due: none

fpgen CI: use importlib to import generator specs for comparison when creating 3d MRs
  tools/generate_changed_models.py
Due: none

fpgen CI: Prevent make-fp-mr from returning a failure when the MR already exists and has been updated and there are no other errors
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

3dgen CI: Fix for create-3d-mr - now also detects added and deleted files
  tools/generate_changed_models.py
Due: none

3dgen CI: Fix create-3d-mr script for inductor/SMD
  tools/generate_changed_models.py
Due: none

3dgen CI: Fix bug in generate_changed_models.py when parts are only deleted.
  tools/generate_changed_models.py
Due: none

Lib stats: Add graph plotting and cleanup/restructure code
  tools/GitLab_Lib_Stats/lib_stats.py
  tools/GitLab_Lib_Stats/lib_stats_helpers.py
  tools/GitLab_Lib_Stats/merge_request_stats.py
  tools/GitLab_Lib_Stats/project_ids.py
Due: none

generate_changed_models.py: Move verbose print lines outside of if
  tools/generate_changed_models.py
Due: none

kicad_sym.py: separate save and sexprbuilder creation
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Reformat python codebase with black 26.1
  common/kicad_sym.py
  html-diff/src/html_diff.py
  html-diff/src/render_index_html.py
  html-diff/src/render_sym.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/rules_footprint/F6_2.py
  klc-check/rules_symbol/EC02.py
  klc-check/rules_symbol/S3_1.py
  symbol-generators/avr_da_db/avr_da_db_generator.py
  tools/GitLab_Lib_Stats/lib_stats_helpers.py
  tools/GitLab_Lib_Stats/merge_request_stats.py
Due: symbol_rulechecker, footprint_rulechecker

klc-check: Allow simulation fields in symbols
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

symbol-generators: add multi unit support to from_csv_generator
  symbol-generators/TPS2054D-example.csv
  symbol-generators/from_csv_generator.py
Due: none

symbol-generators: add type hints to from_csv_generator
  symbol-generators/from_csv_generator.py
Due: none

symbol-generators: add proper logging to from_csv_generator
  symbol-generators/from_csv_generator.py
Due: none

symbol-generators: fix pin length calculation
  symbol-generators/from_csv_generator.py
Due: none

Remove metrics.txt feature from klc-check
  Makefile
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: symbol_rulechecker, footprint_rulechecker

Remove rotate parameter from check_footprint.py
  klc-check/check_footprint.py
Due: symbol_rulechecker, footprint_rulechecker

Fix exception commandline parameter
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker
