Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - make test-klc-symbols
  - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-derived --metrics || if [ $? -eq 2 ] || [ $? -eq 3 ] ; then true; fi
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

CI: Also add some return code logging to comparelibs.py
  klc-check/comparelibs.py
  tools/gitlabci/check_symbols.sh
Due: symbol_rulechecker, footprint_rulechecker

CI: Also count warning from new libs/symbols
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

CI: Be more specific with error and warning count logging
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

KLC check: minor printing fix for 'extra' text
  common/rulebase.py
Due: symbol_rulechecker, footprint_rulechecker

KLC S5.2: allow empty FP filters for virtual symbols, warn on FP filters when not expected
  klc-check/rules_symbol/S5_2.py
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
Due: symbol_rulechecker

Visual diff: handle derived parts, metadata and deletion for symbols
  common/kicad_sym.py
  html-diff/src/html_diff.py
  html-diff/src/print_sym_properties.py
  html-diff/src/render_sym.py
  html-diff/templates/diff-style.css
  html-diff/templates/diff.html
  html-diff/templates/diff.js
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Vis-diff: tolerate (skip) drills in SMD pads
  html-diff/src/render_fp.py
Due: none

CI: Allow repos to set override KLU repos/branches
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Visual diff: allow recursive diff detection
  html-diff/src/html_diff.py
  html-diff/src/render_index_html.py
Due: none

Do not warn on duplicate keywords in symbols
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

CI: avoid a couple of warnings in the logs
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Visual-diff: allow visual-diff.sh to run locally
  html-diff/src/html_diff.py
  tools/gitlabci/common.sh
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
  tools/gitlabci/visual_diff.sh
Due: none

Fix issues with un-escaped quote.
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Add bezier support to kicad_sym and add simple test
  common/kicad_sym.py
  klc-check/rules_symbol/EC01.py
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: allow index creation when diffs dir is missing
  html-diff/src/render_index_html.py
Due: none

Allow the visual diff script to open in the browser when running locally
  tools/gitlabci/visual_diff.sh
Due: none

Vis-diff: handle metadata diffs in footprints
  html-diff/src/html_diff.py
  html-diff/src/html_util.py
  html-diff/src/print_fp_properties.py
  html-diff/src/print_sym_properties.py
  html-diff/src/render_fp.py
Due: none

Visual diff: handle deleted files in .pretty libs
  html-diff/src/html_diff.py
Due: none

Vis-diff: allow argument pass through for easier testing
  tools/gitlabci/visual_diff.sh
Due: none

Visual-diff: handle filled circles and rects
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Vis-diff: Fix rectangle rendering
  html-diff/src/render_fp.py
Due: none

kicad_sym: update hidden property for KiCad9
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Ignore long 'words' in codespell
  Makefile
Due: none

Convert test-symbols to KiCad9
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
  klc-check/test_symbol/CI_Test_S4.2.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S4.4.kicad_sym
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
Due: symbol_rulechecker

Add a project that has all the CI libraries
  klc-check/test_project/.gitignore
  klc-check/test_project/sym-lib-table
  klc-check/test_project/test_project.kicad_pro
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
  klc-check/test_symbol/comparelibs_old/Power_Protection.kicad_sym
Due: symbol_rulechecker

Add parsing of embedded files in .kicad_sym files
  common/kicad_sym.py
  klc-check/rules_symbol/G1_10.py
  klc-check/rules_symbol/__init__.py
  klc-check/test_symbol/CI_Test_G1.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

CI: Use kicad-9 images in pipelines (for vis diff of uprevved libraries)
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Visual diff: handle v9 CLI symbol naming
  html-diff/src/html_diff.py
Due: none

Fix CI pipeline for v9 parts
  klc-check/rules_footprint/F9_3.py
  klc-check/test_footprint.pretty/Fail__F9.3__Hidden_3D_model.kicad_mod
  klc-check/test_footprint.pretty/Pass__F9.3__3D_model_OK.kicad_mod
  klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
Due: footprint_rulechecker

CI: Use medium runners (x4 cores) for visual diffs
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Visual diff index: fix scroll on long lists of diffs
  html-diff/src/render_index_html.py
Due: none

Visual diff: Use an empty library file as the base when a new library is added
  common/empty.kicad_sym
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

VisualDiff: Print a message when base file is empty
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: fix datasheet links
  html-diff/src/html_util.py
Due: none

Visual diff: add zone support
  common/kicad_mod.py
  html-diff/src/render_fp.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: slightly more helpful message when there are no diffs
  html-diff/src/render_index_html.py
Due: none

Visual diff: index subdir buttons open new tabs
  html-diff/src/render_index_html.py
Due: none

Move footprint generator and 3d model generator gitlab CI specifications to k-l-u
  tools/gitlabci/gitlab-ci-3dgen.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Fpgen CI: Make a full checkout of fps repo when creating MR, not a shallow copy
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
