Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:latest

before_script:
  - python3 -V
  - pip install pytest

symbol_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - python3 klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
    - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-derived -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint.pretty/*"
  script:
    - python3 klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
    - python3 klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

check_python_code:
  rules:
    - when: always
  script:
    - pip install flake8
    - make lint

check_spelling:
  rules:
    - when: always
  script:
    - apt-get -qq update && apt-get install --yes codespell
    - make spelling

Change F5.2 refdes size/thickness deviations to warnings
  klc-check/rules_footprint/F5_2.py
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_big.kicad_mod
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_small.kicad_mod
Due: footprint_rulechecker

Add scripts for screenshotting footprints
  klc-check/gitlabci/check_footprints.sh
  klc-check/gitlabci/check_symbols.sh
  klc-check/gitlabci/common.sh
  klc-check/gitlabci/screenshot_footprints.sh
  scripts/create_board.py
Due: none

Check for invisible power pins in S4.6 test
  klc-check/rules_symbol/S4_6.py
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
Due: symbol_rulechecker

Fix spurious S4.6 error
  klc-check/rules_symbol/S4_6.py
Due: symbol_rulechecker

Detect lines with zero length and lines maybe vertical/horizontal
  common/rulebase.py
  klc-check/rules_footprint/EC01.py
  klc-check/rules_footprint/__init__.py
  klc-check/test_footprint.pretty/Warn__EC01__LINE-almostHV.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-isnull.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Add colors to diff, reduce verbosity and add size limit
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Speed up S-Expression handling
  common/kicad_sym.py
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Fix missing empty strings in sexpr parser
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Add script for checking neutrik audio connectors
  tools/check_neutrik_connectors.py
Due: none

Add migration script (to be used by other repos for rolling release)
  scripts/migrate_libraries.sh
Due: none

Add footprint smd roundrect check EC02
  klc-check/rules_footprint/EC02.py
  klc-check/rules_footprint/__init__.py
  klc-check/test_footprint.pretty/Warn__EC02__smd-pad-is-rect.kicad_mod
Due: footprint_rulechecker

Modernize STM32 symbol generator
  Makefile
  symbol-generators/stm32/README.md
  symbol-generators/stm32/generate_all_libraries.sh
  symbol-generators/stm32/requirements.txt
  symbol-generators/stm32/stm32_generator.py
  symbol-generators/stm32/stm32_get_datasheets.py
  symbol-generators/stm32/stm32_list_families.py
Due: none

Use Pin/Socket for generated connector symbols
  common/kicad_sym.py
  symbol-generators/common/DrawingElements.py
  symbol-generators/connector/Connector_generator.py
Due: symbol_rulechecker, footprint_rulechecker

klc-symbol: Remove accidentially quadratic behavior
  common/kicad_sym.py
  klc-check/check_symbol.py
  klc-check/rules_symbol/S4_1.py
Due: symbol_rulechecker, footprint_rulechecker

Add symbol-library-diff tool
  tools/diff_symbols.sh
Due: none

KLC EC02 fix
  klc-check/rules_footprint/EC02.py
Due: none

change maximum line length for flake8 CI code checks to 120
  Makefile
Due: none

move flake8 max line length from Makefile to .flake8 configuration file
  .flake8
  Makefile
Due: none

fix check_footprint.py when run with argument --fix
  klc-check/check_footprint.py
Due: symbol_rulechecker, footprint_rulechecker

Remove verbose symbol diff
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Fixes in sexpr representation for diffing
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Added script to check/adjust rectangular pads to rounded rectangles
  common/kicad_mod.py
  tools/change_pads_to_roundrect.py
Due: symbol_rulechecker, footprint_rulechecker

Set 20220914 as expected kicad_sym version
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Convert unit-test symbols to v7
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S4.4.kicad_sym
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
  klc-check/test_symbol/comparelibs_old/Power_Protection.kicad_sym
Due: symbol_rulechecker

Add html-diff
  .flake8
  common/kicad_mod.py
  common/kicad_sym.py
  html-diff/README.md
  html-diff/requirements.txt
  html-diff/src/__init__.py
  html-diff/src/html_diff.py
  html-diff/src/print_fp_properties.py
  html-diff/src/print_sym_properties.py
  html-diff/src/render_fp.py
  html-diff/src/render_sym.py
  html-diff/src/svg_util.py
  html-diff/templates/diff-style.css
  html-diff/templates/diff.html
  html-diff/templates/diff.js
  klc-check/gitlabci/screenshot_footprints.sh
  klc-check/gitlabci/visual_diff.sh
  scripts/create_board.py
Due: symbol_rulechecker, footprint_rulechecker

Move CI tools from klc-check to tools folder
  tools/gitlabci/README.md
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/check_symbols.sh
  tools/gitlabci/common.sh
  tools/gitlabci/screenshot_footprints.sh
  tools/gitlabci/visual_diff.sh
Due: none

Fix writing of fp_arc footprints object
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Add keyboard shortcuts for visual diff
  html-diff/templates/diff.html
  html-diff/templates/diff.js
Due: none

implement pin_gaps for generation of polarized connector symbols
  symbol-generators/common/DrawingElements.py
  symbol-generators/connector/Connector_generator.py
Due: none

add definition for Samtec HSEC8 Card Edge Connector symbols which show the polarized gap
  symbol-generators/connector/Connector_generator.py
Due: none

Fix parsing of 360° fp_arc elements
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Update F9.3 3D-Model-prefix to KICAD7_3DMODEL_DIR
  klc-check/rules_footprint/F9_3.py
  klc-check/test_footprint.pretty/Pass__F5.3__ARC_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__Polygon_Courtyard.kicad_mod.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__disjoint_courtyard.kicad_mod
  klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-almostHV.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-isnull.kicad_mod
Due: footprint_rulechecker

Fix screenshots for symbols with more than 9 units
  html-diff/src/html_diff.py
Due: none

fix lib creation bugs
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

fix python code E771 and W293
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

handling of arcs as parts of polygons in pad shapes
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

fix #371 - re-parsing of formatted s-expr
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Attempt to render degenerate arcs
  html-diff/src/render_sym.py
Due: none

html-diff: Apply a minimum stroke width
  html-diff/src/render_sym.py
Due: none

Show or hide pin names and numbers based on the symbol options
  html-diff/src/render_sym.py
Due: none
