Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:3.10-slim

before_script:
  - apt-get update -q -y
  - apt-get install -y make
  - python3 -V
  - pip install -r requirements.txt

symbol_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - make test-klc-symbols
    - make test-comparelibs-symbols
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint.pretty/*"
  script:
    - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

check_python_code:
  rules:
    - when: always
  script:
    - pip install flake8
    - make lint
    - make style-check

check_spelling:
  rules:
    - when: always
  script:
    - apt-get -qq update && apt-get install --yes codespell
    - make spelling

Remove logError functionality from KLC check scripts
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Add formating check to the 'check' target
  Makefile
Due: none

Match subscript v_{cc} variants in KLC S4.4 check
  .codespell-excludes
  klc-check/rules_symbol/S4_4.py
Due: symbol_rulechecker

Improve tests for KLC S4.4 check
  klc-check/rules_symbol/S4_4.py
  klc-check/test_symbol/CI_Test_S4.4.kicad_sym
Due: symbol_rulechecker

Visual diff: print clearer traceback in console
  html-diff/src/html_diff.py
Due: none

Fix python formating in html-diff/src/html_diff.py
  html-diff/src/html_diff.py
Due: none

Visual diff: handle PCB points
  common/kicad_mod.py
  html-diff/src/render_fp.py
Due: symbol_rulechecker, footprint_rulechecker

kicad_sym: hide is not in text effects any more
  common/kicad_sym.py
  html-diff/src/render_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: create directories when needed
  html-diff/src/html_diff.py
Due: none

kicad_sym: update expected version magic
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

CI: filter jobs to match kicad_symdirs as well
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Update deprecated only: rules in footprints CI YAML
  tools/gitlabci/gitlab-ci-footprints.yml
Due: none

Visual diff: handle unpacked symdirs
  html-diff/src/html_diff.py
  tools/diff_symbols.sh
  tools/gitlabci/visual_diff.sh
Due: none

VRML v10: No longer generate VRMLs for generated FPs
  tools/generate_changed_models.py
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Update KLC rule 9.3 to check for KICAD10 rather than 9 for model dir
  klc-check/rules_footprint/F9_3.py
Due: none

Update KiCad version for 3DMODEL_DIR in test kicad_mod files
  klc-check/test_footprint.pretty/Fail__F5.1__LINE-silk-too-thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__LINE-silk-too-thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-bottom-silk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-extra-asterisk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-one-asterisk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-empty.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-too-thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-too-thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-size-too-big.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-size-too-small.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_outline_too_thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_outline_too_thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_refdes_size_ratio.kicad_mod
  klc-check/test_footprint.pretty/Fail__F9.3__Hidden_3D_model.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.1__REFDES-silk-correct.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.2__FAB_good.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__ARC_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__Polygon_Courtyard.kicad_mod.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__disjoint_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F9.3__3D_model_OK.kicad_mod
  klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-almostHV.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-isnull.kicad_mod
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_big.kicad_mod
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_small.kicad_mod
Due: footprint_rulechecker

Remove CI job to generate no longer existing legacy inductors
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

CI: Fix pinheader 3D generator timeouts
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Add new symbol rule G1.11 that checks for used fonts
  common/kicad_mod.py
  common/kicad_sym.py
  klc-check/rules_footprint/G1_11.py
  klc-check/rules_footprint/__init__.py
  klc-check/rules_symbol/G1_11.py
  klc-check/rules_symbol/__init__.py
  klc-check/test_symbol/CI_Test_G1.x.kicad_symdir/Fail__G1.10__HasEmbeddedFile.kicad_sym
  klc-check/test_symbol/CI_Test_G1.x.kicad_symdir/Fail__G1.11__FontSet_PropertyField.kicad_sym
  klc-check/test_symbol/CI_Test_G1.x.kicad_symdir/Fail__G1.11__FontSet_TextField.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

CI: Use kicad:nightly docker image
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Output kicad-cli version
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Remove nightly-convert stage
  scripts/migrate_libraries.sh
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: install k-l-u in KICAD_LIBRARY_UTILS_DIR
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/check_symbols.sh
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
  tools/gitlabci/screenshot_footprints.sh
  tools/gitlabci/screenshot_model.sh
Due: none

CI: get rid of more used of $CI_BUILDS_DIR
  tools/create_3d_mr.sh
  tools/diff_symbols.sh
Due: none

CI: fp-generator -> make-footprint-mr don't use $CI_BUILDS_DIR
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

CI: Remove CI_BUILDS_DIR from tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/screenshot_footprints.sh
Due: none

CI: Remove CI_BUILDS_DIR from tools/gitlabci/check_symbols.sh
  tools/gitlabci/check_symbols.sh
Due: none

CI: Update the kicad-config folder to kicad 10
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
  tools/gitlabci/screenshot_model.sh
Due: none

CI symbol vis_diff: Move kicad-cli version call to 'script' section
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Use ~/klu instead of /klu to install tools
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI footprint vis_diff: Move kicad-cli version call to 'script' section
  tools/gitlabci/gitlab-ci-footprints.yml
Due: none

CI: Use absolute path to store diffs in vis_diff pipelines
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Use Python 3.13 docker images
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

CI: fp-generator: install xz-utils
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

CI: Apply a hack to resolve ~/klu to $HOME/klu
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

CI: Add a missing $ to fix an echo command
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

CI: Fix shell variable in footprint-mr generator
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

CI: Fix 3d-auto-mr to have better variable name for temp dir
  tools/create_3d_mr.sh
Due: none

StepDiff: Add types to some parameters for better IDE hints
  tools/step_diff.py
Due: none
