Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - python3 klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
  - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-derived -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - python3 klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
  - python3 klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

Add README documentation on how to run unit tests
  README.md
Due: none

Make local check-symbols.sh testing possible and add documentation
  tools/gitlabci/check_symbols.sh
  tools/gitlabci/common.sh
Due: none

Add docs on how to run klc-check manually
  README.md
Due: none

Add make check target that runs lint checks and unit tests
  Makefile
  README.md
  common/kicad_mod.py
  requirements.txt
Due: symbol_rulechecker, footprint_rulechecker

Add missing jinja2 requirement for html-diff to requirements.txt
  html-diff/requirements.txt
Due: none

Update handling of footprint types
  common/kicad_mod.py
  klc-check/check_3d_coverage.py
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_footprint/F6_1.py
  klc-check/rules_footprint/F6_2.py
  klc-check/rules_footprint/F7_1.py
  klc-check/rules_footprint/F7_2.py
  klc-check/rules_footprint/F7_3.py
  klc-check/rules_footprint/F9_3.py
  klc-check/test_footprint.pretty/Warn__F7.1__Virtual-with-THT-Pins.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Clarify and extend F6.1 and F7.1 after updated footprint type handling
  klc-check/rules_footprint/F6_1.py
  klc-check/rules_footprint/F7_1.py
  klc-check/test_footprint.pretty/Fail__F6.1__SMD-with-no-paste-pads.kicad_mod
  klc-check/test_footprint.pretty/Fail__F6.1__SMD-with-virtual-attrs.kicad_mod
  klc-check/test_footprint.pretty/Fail__F7.1__SMD-with-only-THT-Pins.kicad_mod
  klc-check/test_footprint.pretty/Fail__F7.1__THT-with-virtual-attrs.kicad_mod
  klc-check/test_footprint.pretty/Warn__F6.1__Hybrid-FP-should-be-SMD.kicad_mod
  klc-check/test_footprint.pretty/Warn__F7.1__Unspecified-virtual-with-THT-Pins.kicad_mod
Due: footprint_rulechecker

Use python3 and pip3 in the Makefile
  Makefile
Due: none

klc-check S4.2: Handle regulators, check output placement, add tests
  klc-check/rules_symbol/S4_2.py
  klc-check/test_symbol/CI_Test_S4.2.kicad_sym
Due: symbol_rulechecker

KLC check S4.2: Exclude power symbols up-front
  klc-check/rules_symbol/S4_2.py
Due: symbol_rulechecker

KLC check F9.3: Error on a hidden 3D model
  common/kicad_mod.py
  klc-check/rules_footprint/F9_3.py
  klc-check/test_footprint.pretty/Fail__F9.3__Hidden_3D_model.kicad_mod
  klc-check/test_footprint.pretty/Pass__F9.3__3D_model_OK.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Fix open(filename) with UTF8 encoding.
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Use correct font thickness in F5.2 error message
  klc-check/rules_footprint/F5_2.py
Due: none

KLC check: S3.1: allow 'small' (sub-800mil) symbols to be on a 50mil centre
  klc-check/rules_symbol/S3_1.py
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
Due: symbol_rulechecker

Fix symbol-generators/example-generator.py
  symbol-generators/example-generator.py
Due: none

Make comparelibs output the symbols it checked
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

KLC S4.1: allow NC pins to violate the 100mil grid
  klc-check/rules_symbol/S4_1.py
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
Due: symbol_rulechecker

Remove ki_locked from list of default properties.
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

comparelibs and tests CI: Add a --diffs argument and make printing diffs in CI output conditional
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

STM32 generator: Update generator for latest ST data (March 2024)
  symbol-generators/stm32/generate_all_libraries.sh
  symbol-generators/stm32/stm32_generator.py
  symbol-generators/stm32/url_cache.json
Due: none

Visual diff: sort files before diffing
  html-diff/src/html_diff.py
Due: none

CI: Fix bad kicad-cli command line
  tools/gitlabci/check_symbols.sh
Due: none

check_symbol: Add S6.2.7 extended keyword checks
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
Due: symbol_rulechecker

Revert "CI: Fix bad kicad-cli command line"
  tools/gitlabci/check_symbols.sh
Due: none

Revert "Add kicad-cli sym upgrade --force check"
  tools/gitlabci/check_symbols.sh
Due: none

Add --exclude option to check_footprint.py
  klc-check/check_footprint.py
Due: symbol_rulechecker, footprint_rulechecker

Use makefile target for CI check
  .gitlab-ci.yml
  Makefile
Due: none

KLC check F6.3: Heatsink pads should have solid zone connections
  klc-check/rules_footprint/F6_3.py
  klc-check/test_footprint.pretty/Pass__F6.3__smd-pad-is-rect.kicad_mod
  klc-check/test_footprint.pretty/Warn__F6.3__heatsink-zone-connect.kicad_mod
Due: footprint_rulechecker

STEP diff: split out file resolver
  tools/file_resolver.py
  tools/step_diff.py
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
