Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - make test-klc-symbols
  - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-derived -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

STEP diff: handle created and deleted files
  tools/step_diff.py
Due: none

html_diff: Handle cases where there are no diff files better
  html-diff/src/render_index_html.py
Due: none

Fail parsing when critical properties are missing
  common/kicad_mod.py
  klc-check/rules_footprint/F5_1.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: move some functions below __init__
  html-diff/src/html_diff.py
Due: none

Visual diff: Allow to save the generated old/new SVGs during the process
  html-diff/src/html_diff.py
Due: none

KLC checks: return different error code for warnings only
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: symbol_rulechecker, footprint_rulechecker

KLC check: Correct allow_failure syntax
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Change the severity of keyword duplication and empty keywords in S6.2 from error to warning
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

CI config for fps and symbols changes:
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Added a script to count footprints
  README.md
  common/print_color.py
  tools/count_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

Fix meta["old_git"]-not-set check in html_diff.py
  html-diff/src/html_diff.py
Due: none

Run model rendering for fps on v8 docker image instead of nightly
  tools/gitlabci/gitlab-ci-footprints.yml
Due: none

Use KiCad 202404 nightly image for models fp pipeline
  tools/gitlabci/gitlab-ci-footprints.yml
Due: none

CI: Make sym/FP pipeline KLC and visual_diffs run in parallel
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

KLC S4.2: Add note to make it clearer for false positives in power converter detection
  klc-check/rules_symbol/S4_2.py
Due: symbol_rulechecker

KLC check symbol EC01: Overlapping segments are OK if one is filled and one is not
  klc-check/rules_symbol/EC01.py
  klc-check/test_symbol/CI_Test_EC01.kicad_sym
Due: symbol_rulechecker

Visual diff - fix arcs and filled polygons in footprints
  common/kicad_mod.py
  html-diff/src/render_fp.py
  html-diff/src/render_sym.py
  html-diff/src/svg_util.py
  html-diff/templates/diff.js
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: fix multiple issue with pads
  common/kicad_mod.py
  html-diff/src/render_fp.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: correct arc maths again
  html-diff/src/render_fp.py
  html-diff/src/render_sym.py
  html-diff/src/svg_util.py
Due: none

Display errors as junit test cases
  common/rulebase.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/junit.py
  tools/gitlabci/check_symbols.sh
  tools/gitlabci/gitlab-ci-symbols.yml
Due: symbol_rulechecker, footprint_rulechecker

common.sh: don't warn if empty
  tools/gitlabci/common.sh
Due: none

junit report: check footprints too
  klc-check/check_footprint.py
  klc-check/junit.py
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/gitlab-ci-footprints.yml
Due: symbol_rulechecker, footprint_rulechecker

CI: refactor multiple file handling to happen in python rather than shell, handle appending to JUnit files
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_lib_table.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/junit.py
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/check_symbols.sh
Due: symbol_rulechecker, footprint_rulechecker

CI: handle return codes in comparelibs.py, correct check_symbol.py codes, use python 3.10-slim for k-l-u CI
  .gitlab-ci.yml
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/junit.py
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/check_symbols.sh
Due: symbol_rulechecker, footprint_rulechecker

KLC F5.4: simplify overlap check, add tests
  common/geometry.py
  klc-check/rules_footprint/F5_4.py
  klc-check/test_footprint.pretty/Fail__F5.4__Overlapping_graphics.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.4__Non-overlapping_graphics.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

CI: Move comparelibs.py check to Makefile
  .gitignore
  .gitlab-ci.yml
  Makefile
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
  klc-check/test_symbol/comparelibs_old/Power_Protection.kicad_sym
Due: none

CI: Allow failure for KLC warnings only
  klc-check/check_footprint.py
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: symbol_rulechecker, footprint_rulechecker

CI: Add KLC rule descriptions and URLs to output
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/junit.py
Due: symbol_rulechecker, footprint_rulechecker

Sym-gen: enforce UTF-8 output, use context manager for file write.
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: fix div-by zero for full-circle arcs
  html-diff/src/render_fp.py
  html-diff/src/render_sym.py
  html-diff/src/svg_util.py
Due: none

Visual diff: exploit fast full-library rendering
  html-diff/src/html_diff.py
Due: none

Visual diff: multithread the diff processs
  html-diff/src/html_diff.py
  tools/gitlabci/visual_diff.sh
Due: none

Add rule S6.1, currently only for Oscillator lib RDs
  klc-check/rules_symbol/S6_1.py
  klc-check/rules_symbol/__init__.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Visual diff: correct kicad-cli paramter for single FPs
  html-diff/src/html_diff.py
Due: none

Visual diff: fix symbol forward/back links
  html-diff/src/html_diff.py
Due: none

Visual diff: Use a few more real classes instead of dists/lists
  html-diff/src/html_diff.py
Due: none

Visual diff: fix off by one in symbol index generation
  html-diff/src/html_diff.py
Due: none

Visual diff: also correct FP prev/next direction
  html-diff/src/html_diff.py
Due: none

Vis diff: fix render mode for symbols
  html-diff/src/html_diff.py
Due: none

CI: add a bit of debug for return codes
  tools/gitlabci/check_footprints.sh
  tools/gitlabci/check_symbols.sh
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
