Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - make test-klc-symbols
  - make test-comparelibs-symbols
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

StepDiff: Add a --stats option to dump diff figures
  tools/step_diff.py
Due: none

StepDiff: Multithread the diff process
  tools/step_diff.py
Due: none

CI: Print the name of the library and packages to be generated
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Revert "CI: Use absolute path to store diffs in vis_diff pipelines"
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

kicad_sym: Fix hidden property
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Fix spelling
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Fix exception during make test-klc-symbols (Python 3.14)
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

KicadSymbol_:do_not_autoplace attribute changed to (yes, no)
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Enable the from CSV symbol generator to also work with non-integer pins
  symbol-generators/from_csv_generator.py
Due: none

from_csv_generator: Improve documentation for the split-pins feature in from_csv_generator
  symbol-generators/BQ24004-example.csv
  symbol-generators/from_csv_generator.py
Due: none

klc-check: return nonzero exit code when exception occurs during test
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

KicadMod: make font-face property of texts optional
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

* kicad_sym: fix symbol roundtripping with embedded_files
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Add a unit-test footprint for the G1.11 (font) rule
  klc-check/test_footprint.pretty/Fail__G1.11__NonDefaultFont.kicad_mod
Due: footprint_rulechecker

kicad_sym: load parent symbol library when necessary
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

kicad_sym: Improve loading of inherited files
  README.md
  common/kicad_sym.py
  klc-check/test_project/sym-lib-table
  klc-check/test_project/test_project.kicad_pro
  klc-check/test_symbol/framework_inheritance.kicad_symdir/Pass__S2.3__Inherited.kicad_sym
  klc-check/test_symbol/framework_inheritance.kicad_symdir/Pass__S2.3__Root.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Implemented KLC 6.1 reference-designator check
  klc-check/rules_symbol/S6_1.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_symdir/Fail__S6.1__WrongReferenceValue.kicad_sym
  klc-check/test_symbol/CI_Test_S6.x.kicad_symdir/Pass__S6.1__CorrectRD.kicad_sym
  klc-check/test_symbol/CI_Test_S6.x.kicad_symdir/Pass__S6.1__CorrectReferenceValue.kicad_sym
Due: symbol_rulechecker

Add KLC S4.1 check: pins have name and number
  klc-check/rules_symbol/S4_1.py
  klc-check/test_symbol/CI_Test_S4.1.kicad_symdir/Fail__S4.1__MissingPinNumber.kicad_sym
  klc-check/test_symbol/CI_Test_S4.1.kicad_symdir/Warn__S4.1__MissingPinName.kicad_sym
Due: symbol_rulechecker

Use python 3.14 in CI pipeline
  .gitlab-ci.yml
Due: none

Fix create_model_board.py for KiCad10 Duplicate() API change
  scripts/create_model_board.py
Due: none

symbol_generators: from_csv_generator: add default values for CLI args to CSV metadata
  symbol-generators/from_csv_generator.py
Due: none

Makefile: add generate-symbols target
  Makefile
Due: none

symbol-generators: from_csv_generator: add support to process folders
  README.md
  symbol-generators/.gitignore
  symbol-generators/from_csv_generator.py
Due: none

symbol-generators: add data dir with pinout CSVs to generate symbols from
  symbol-generators/data/RF_Module/SC14CVMDECT.csv
Due: none

kicad_sym.py: remove inheritance depth handling
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

klc-check: Remove a extra print() call in KLC S6.1 check
  klc-check/rules_symbol/S6_1.py
Due: symbol_rulechecker

Fix KiCad 10 Duplicate() return type by casting to FOOTPRINT
  scripts/create_model_board.py
Due: none

Fix visualisation of pads with drill offsets
  html-diff/src/render_fp.py
Due: none

Add GitHistoryResolver to file_resolver.py
  tools/file_resolver.py
Due: none

CI/Lint: Run isort in lint target, don't let flake8 do formatting lint
  .flake8
  .gitlab-ci.yml
  Makefile
Due: none

kicad_sym: Improve pin unstack, use in S4.5 check
  common/kicad_sym.py
  klc-check/rules_symbol/S4_5.py
  klc-check/test_symbol/CI_Test_S4.5.kicad_symdir/Warn__S4.5__MissingPinNumerical.kicad_sym
  klc-check/test_symbol/CI_Test_S4.5.kicad_symdir/Warn__S4.5__MissingPinStackedAlphaNumerical.kicad_sym
  klc-check/test_symbol/CI_Test_S4.5.kicad_symdir/Warn__S4.5__MissingPinStackedNumerical.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

kicad_sym: Update some sexpr for v10 parity
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

stm32: Fix ignore list handling
  symbol-generators/stm32/stm32_generator.py
Due: none

klc-check: S4.5: keep going if a pin group has no numbered pins
  klc-check/rules_symbol/S4_5.py
Due: symbol_rulechecker

Improve pin handling code in kicad_sym
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Use -z in git-ls-tree to fix visual-diff for weird filenames
  html-diff/src/html_diff.py
Due: none

Add missing brackets in html-diff/src/render_fp.py
  html-diff/src/render_fp.py
Due: none

kicad_sym: support multiple body styles introduced with KiCad10
  common/kicad_sym.py
  html-diff/src/print_sym_properties.py
  klc-check/rules_symbol/S4_1.py
  symbol-generators/common/DrawingElements.py
Due: symbol_rulechecker, footprint_rulechecker

Allow 'TJ' refdes in KLC S6.1 check
  klc-check/rules_symbol/S6_1.py
Due: symbol_rulechecker

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
