Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - make test-klc-symbols
  - make test-comparelibs-symbols
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - make test-klc-footprints
  artifacts:
    reports:
      metrics: metrics.txt

FP auto-MR: delete existing generated footprints first
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Auto-MR: run the old-generated-FP deletion in the right directory
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

kicad_mod: handle rectangles in custom pads
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: fix wsdiff CSS parameter
  html-diff/requirements.txt
  html-diff/src/html_diff.py
Due: none

Visual diff: fix properties table in dark mode
  html-diff/src/html_diff.py
  html-diff/templates/diff-style.css
Due: none

Visual diff: avoid crash with same pins in two body styles
  html-diff/src/print_sym_properties.py
Due: none

footprints_gallery: Improve/add render parameters
  tools/footprints_gallery.py
Due: none

footprints_gallery: multithread the rendering
  tools/footprints_gallery.py
Due: none

3dgen CI: Rename Button generators in 3dgen job and change sort order of Connector_Stocko
  tools/gitlabci/gitlab-ci-3dgen.yml
Due: none

Automated generated 3D MR in CI: Do not commit new WRL files, only new STEP
  tools/create_3d_mr.sh
Due: none

footprints_galley: Add temp config directory for KiCad and an 'empty' render preset
  tools/footprints_gallery.py
Due: none

footprints_galley: Run viewer once for each composed page
  tools/footprints_gallery.py
Due: none

footprints_galley: Split rendering and composing code
  tools/footprints_gallery.py
Due: none

KLC check (S6.2) fix wording in warning
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker

kicad_sym: Fix class KicadSymbol
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

step_diff.py: Add repository check, optimizations, and other improvements
  tools/file_resolver.py
  tools/step_diff.py
Due: none

kicad_sym: parse unit_names from files
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

kicad_sym Give split units nice unit names
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Visual diff: Show unit names in the visual UI
  common/kicad_sym.py
  html-diff/src/html_diff.py
  html-diff/templates/diff.html
  html-diff/templates/diff.js
Due: symbol_rulechecker, footprint_rulechecker

HTML-diff: tolerate symbol deletion in unit processing
  html-diff/src/html_diff.py
Due: none

Kicad_sym: avoid writing too many attributes for inherited symbols
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

CI: upgrade black version to 3.10 for match expressions
  pyproject.toml
Due: none

STM32: Correct package names against current kicad-footprints
  symbol-generators/stm32/stm32_generator.py
Due: none

STM32: Format URL cache for saner diffs and inspection
  symbol-generators/stm32/stm32_generator.py
  symbol-generators/stm32/url_cache.json
Due: none

kicad_sym: use same order as KiCad for symbols in libraries
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

stm32: Update package table for ST's latest chips
  symbol-generators/stm32/generate_all_libraries.sh
  symbol-generators/stm32/stm32_generator.py
Due: none

STM32: Fix some linter complaints
  symbol-generators/stm32/stm32_generator.py
Due: none

html-diff: Fix `DiffProperty` field declarations
  html-diff/src/html_util.py
Due: none

html-diff: Add convenience functions to PropertyType
  html-diff/src/html_util.py
Due: none

html-diff: Add multi-diff capability for separately diffing pin attributes
  html-diff/src/html_util.py
  html-diff/src/print_sym_properties.py
Due: none

Add handling of private symbol fields
  common/kicad_sym.py
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Fix symbols with embedded files breaking the parser
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

KLC checker: Add exceptions system
  .gitlab-ci.yml
  common/rulebase.py
  klc-check/check_symbol.py
  klc-check/junit.py
  klc-check/rules_symbol/EC01.py
  klc-check/rules_symbol/EC02.py
  klc-check/rules_symbol/EC03.py
  klc-check/rules_symbol/G1_1.py
  klc-check/rules_symbol/G1_10.py
  klc-check/rules_symbol/G1_7.py
  klc-check/rules_symbol/S3_1.py
  klc-check/rules_symbol/S3_2.py
  klc-check/rules_symbol/S3_3.py
  klc-check/rules_symbol/S3_6.py
  klc-check/rules_symbol/S4_1.py
  klc-check/rules_symbol/S4_2.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_5.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S5_1.py
  klc-check/rules_symbol/S5_2.py
  klc-check/rules_symbol/S6_1.py
  klc-check/rules_symbol/S6_2.py
  klc-check/rules_symbol/S7_1.py
  klc-check/rules_symbol/S7_2.py
Due: symbol_rulechecker, footprint_rulechecker

Fix shadowed variable in KLC checker
  klc-check/check_symbol.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Revert "Fix shadowed variable in KLC checker"
  klc-check/check_symbol.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Fix comparelibs.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Fix a shadowed variable in check_symbol.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Use python3 instead of python in the Makefile
  Makefile
Due: none

3d generator CI: libgl1-mesa-glx is a transitional package that no longer exists Attempting to replace it with libgl1 and libglx-mesa0
  tools/gitlabci/gitlab-ci-3dgen.yml
  tools/gitlabci/gitlab-ci-fpgen.yml
Due: none

Change order of checks for 'make check' target
  Makefile
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
