Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - python3 klc-check/check_symbol.py -u klc-check/test_symbol/*.kicad_sym
  - python3 klc-check/comparelibs.py -v --old klc-check/test_symbol/comparelibs_old/* --new klc-check/test_symbol/comparelibs_new/* --check --check-derived -m
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - python3 klc-check/check_footprint.py -u klc-check/test_footprint.pretty/????__*
  - python3 klc-check/check_footprint.py -vv klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  artifacts:
    reports:
      metrics: metrics.txt

Check if F.Fab/F.SilkS reference is locked in upright orientation
  common/kicad_mod.py
  klc-check/rules_footprint/F5_1.py
  klc-check/rules_footprint/F5_2.py
  klc-check/test_footprint.pretty/Pass__F5.2__FabPolygon.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Increased generic connector symbol range up to 60 ways
  symbol-generators/connector/Connector_generator.py
Due: none

stm32: Fetch datasheets through HTTP/2
  symbol-generators/stm32/generate_all_libraries.sh
  symbol-generators/stm32/stm32_generator.py
Due: none

stm32: Add footprint mappings for new parts since ~Jan '23
  symbol-generators/stm32/stm32_generator.py
Due: none

html_diff: Don't crash on a bad path arg
  html-diff/src/html_diff.py
Due: none

Added script to render index.html artifact to redirect to first changed symbol
  html-diff/src/render_index_html.py
  tools/gitlabci/visual_diff.sh
Due: none

Diff tool index: use links, not buttons (allows middle-click)
  html-diff/src/render_index_html.py
Due: none

Centralize CI configuration - move fps and symbols CI configs into library utils
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Add STEP diff utility
  tools/step_diff.py
Due: none

html-diff: Also update index-pane hashes when changed
  html-diff/templates/diff.js
Due: none

Handle all index links (also have unchanged and created)
  html-diff/templates/diff.js
Due: none

Visual diff: Make Metadata / Datasheet a link
  html-diff/src/print_sym_properties.py
Due: none

visual-diff: don't disable Ctrl-C
  html-diff/templates/diff.html
  html-diff/templates/diff.js
Due: none

visual-diff: Add some tooltips to sidebar buttons
  html-diff/templates/diff.html
Due: none

KLC Check: exclude EPs from rounding checks, move EC02 to F6.3
  Makefile
  common/kicad_mod.py
  klc-check/rules_footprint/EC02.py
  klc-check/rules_footprint/F6_3.py
  klc-check/rules_footprint/__init__.py
  klc-check/test_footprint.pretty/Pass__F6.3__smd-pad-is-rect.kicad_mod
  klc-check/test_footprint.pretty/Warn__F6.3__smd-pad-is-rect.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Minimal change to support v8 footprints:
  common/kicad_mod.py
  klc-check/rules_footprint/F9_3.py
  klc-check/test_footprint.pretty/Fail__F5.1__LINE-silk-too-thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__LINE-silk-too-thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-bottom-silk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-extra-asterisk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-one-asterisk.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-empty.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-too-thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-silk-too-thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-size-too-big.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.1__REFDES-size-too-small.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_outline_too_thick.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_outline_too_thin.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_refdes_size_ratio.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.3__Unconnected_outline.kicad_mod
  klc-check/test_footprint.pretty/Fail__F7.1__SMD-with-THT-Pins.kicad_mod
  klc-check/test_footprint.pretty/Fail__F7.2__Pin1_not_centered.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.1__REFDES-silk-correct.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.2__FAB_good.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.2__FabPolygon.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__ARC_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__Circle_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__Polygon_Courtyard.kicad_mod.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__disjoint_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F6.3__smd-pad-is-rect.kicad_mod
  klc-check/test_footprint.pretty/Pass__F7.1__THT-with-THT-Pins.kicad_mod
  klc-check/test_footprint.pretty/Pass__F7.2__Pin1_centered.kicad_mod
  klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-almostHV.kicad_mod
  klc-check/test_footprint.pretty/Warn__EC01__LINE-isnull.kicad_mod
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_big.kicad_mod
  klc-check/test_footprint.pretty/Warn__F5.2__FAB_refdes_size_too_small.kicad_mod
  klc-check/test_footprint.pretty/Warn__F6.3__smd-pad-is-rect.kicad_mod
  klc-check/test_footprint.pretty/Warn__F7.1__Virtual-with-THT-Pins.kicad_mod
  klc-check/test_footprint.pretty/Warn__F7.3__Pin1_not_rectangle.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Minimal fix for symbol parser to make klc-check work with v8 formats
  common/kicad_sym.py
  klc-check/rules_symbol/S6_2.py
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S4.4.kicad_sym
  klc-check/test_symbol/CI_Test_S4.6.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
  klc-check/test_symbol/comparelibs_old/Power_Protection.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Allow visual diff to fail
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Bump kicad version to 8 for pipelines
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

fix visual diff expected version
  html-diff/src/html_diff.py
Due: none

F6.3: stringify pad numbers before joining them
  klc-check/rules_footprint/F6_3.py
Due: none

Change URL of the 'View App' button in MRs so that pipelines running on contributor instances work correctly.
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Check if each symbol has a parent, fail on load if it does not.
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Improve symbol orphan detection - raise error if derived symbol is stored before parent symbol in file
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Print the CI environment of the vis-diff stage for fp pipeline
  tools/gitlabci/gitlab-ci-footprints.yml
Due: none

check_symbol: provide better info to the user without --footprints option
  klc-check/rules_symbol/S5_1.py
Due: symbol_rulechecker

Add extended check EC03 for symbols - Check pin names for non ascii chars
  klc-check/rules_symbol/EC03.py
  klc-check/rules_symbol/__init__.py
Due: symbol_rulechecker

Fix broken visual diff - check entire library for missing or misordered parent symbols, not just the changed symbol.
  common/kicad_sym.py
  html-diff/src/html_diff.py
Due: symbol_rulechecker, footprint_rulechecker

pcbnew.IO_MGR has been renamed to pcbnew.PCB_IO_MGR
  scripts/create_board.py
Due: none

Fix footprint screenshot stage
  scripts/create_board.py
  tools/gitlabci/screenshot_footprints.sh
Due: none

screenshot task: Pass full path to ImportFootprint
  scripts/create_board.py
Due: none

Fix URL of the 'View App' button in MRs
  tools/gitlabci/common.sh
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/gitlab-ci-symbols.yml
Due: none

Fix outline not being recognized due to unit filter not considering unit 1
  common/kicad_sym.py
  klc-check/rules_symbol/S3_3.py
Due: symbol_rulechecker, footprint_rulechecker

Add arguments to check_3d_coverage to allow setting footprint and model directories explicitly.
  README.md
  klc-check/check_3d_coverage.py
Due: symbol_rulechecker, footprint_rulechecker

Proof of concept 3d model screenshot
  scripts/3d_viewer.json
  scripts/create_model_board.py
  tools/gitlabci/gitlab-ci-footprints.yml
  tools/gitlabci/screenshot_model.sh
Due: none

Fix permissions on 3d model screenshot script
  tools/gitlabci/screenshot_model.sh
Due: none

3d preview: Fix variable assignment
  tools/gitlabci/screenshot_model.sh
Due: none

Added Rectangle.area and get_largest_area_rectangle() utility functions
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

KLC check: Add checks for various F9.1 violations
  common/kicad_mod.py
  klc-check/rules_footprint/F9_1.py
  klc-check/test_footprint.pretty/Fail__F9.1__Description_empty.kicad_mod
  klc-check/test_footprint.pretty/Fail__F9.1__Description_no_URL.kicad_mod
  klc-check/test_footprint.pretty/Fail__F9.1__Description_only_URL.kicad_mod
  klc-check/test_footprint.pretty/Fail__F9.1__Footprint_prop_set.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Fix missing 'f' for format string
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint.pretty/*
